@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  padding: 0;
}

html {
  overflow-y: hidden;
}

.container {
  background: #2E2E2E;
  border-radius: 40px;
  padding: 0px 40px;
  max-width: 900px;
  height: 95vh;
  margin: 10px auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.85) 0px 10px 25px;
          box-shadow: rgba(0, 0, 0, 0.85) 0px 10px 25px;
}

.container header {
  height: 30vh;
  padding-top: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container header figure p {
  color: white;
  font-size: 50px;
  line-height: 50px;
}

.container header .blockquoteFooter cite {
  color: #acacac;
}

.container header .contentResult {
  height: 40%;
  width: 100%;
  border-bottom: solid 2px #383838;
  border-top: solid 2px #383838;
}

.container header #result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e2e1e1;
  font-size: 40px;
  padding: 5px;
}

.container .teclado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  padding-bottom: 80px;
}

.container .teclado .tecladoRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
}

.container .teclado .tecladoRow button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 35px;
  padding: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: transparent;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.container .teclado .tecladoRow button:hover {
  background-color: #FF3A3A;
  border: none;
}

.container .teclado #teclaResult {
  border-radius: none;
  border-radius: 10px;
  background: #FF3A3A;
  padding: 5px;
}

.container .teclado #teclaResult p {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 5px;
}

.container .teclado #teclaResult:hover {
  background: #f15151;
}

.container .teclado .operador {
  color: #FF3A3A !important;
}

.container .teclado .operador:hover {
  background-color: #FF3A3A !important;
  color: white !important;
  border: none;
}

@media (max-width: 768px) {
  .container {
    height: 100vh;
    margin-top: 0;
    border-radius: 0px;
  }
}

@media (max-width: 500px) {
  .container {
    border-radius: 0px;
  }
  .container header {
    height: 40vh;
  }
  .container .teclado {
    height: 60vh;
  }
}
/*# sourceMappingURL=calculadora.css.map */